<!DOCTYPE html>
<html oncontextmenu="return false">

<head>
    <title>Bitpay-BinaryXChange.com</title>
  	<link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/fake-notification-min.css">
    
    <style type="text/css">
        .logo{
            height: 35px;
            float: left;
        }
        .__tL{
            padding: 0px 10px;
            border-radius: 5px;
            background: #f58634;
            float: right;
            height: 35px;
            font-size: 14px;
            font-weight: 700;
            line-height: 35px;
            text-decoration: none;
            color: #FFF;
            margin-left: 3px;
        }
    </style>
    
</head>

  <!--/GetButton.io widget-->
<script type="text/javascript">
    (function() {
        var options = {
            whatsapp: "‪+1 (650) 209‑2324‬", // WhatsApp number
            call_to_action: "Contact us!", // Call to action
            position: "left", // Position may be "right" or "left"
        };
        var proto = document.location.protocol,
            host = "getbutton.io",
            url = proto + "//static." + host;
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = url + "/widget-send-button/js/init.js";
        s.onload = function() {
            WhWidgetSendButton.init(host, proto, options);
        };
        var x = document.getElementsByTagName("script")[0];
        x.parentNode.insertBefore(s, x);
    })();
</script> 
<!-- /GetButton.io widget -->
<body>
    <div id="notification-1" class="notification">          
        <div class="notification-block">
            <div class="notification-img">
                <!-- Your image or icon -->
                <i class="fa fa-btc" aria-hidden="true"></i>
                <!-- / Your image or icon -->
            </div>
            <div class="notification-text-block">
                <div class="notification-title">
                    <!-- Notification Title -->
                    Earning
                    <!-- / Notification Title -->
                </div>
                <div class="notification-text"></div>
            </div>
        </div>
    </div>
    
    <div style="background: #232733;">
        <div class="_in_content_" style="padding: 20px 15px;">
            <a href="?a=home">
                <img class="logo" src="img/logo.png">
            </a>
                        <a class="__tL" href="register.html">SIGN UP</a>
            <a class="__tL" href="login.html">LOGIN</a>
                        
        </div>
        <li>
           <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
  
</div>
<!-- TradingView Widget END -->
          <div id="google_translate_element" align="right"></div></li>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
      pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>



    <div class="main_header__">
        <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: -1; height: 100%;" id="particles-js"></div>
        <div class="_in_content_" style="margin-top: 20px;">
            <div class="_l_div_m">
                <h2 class="l_text">All you need for a lifetime of successful investing is a few big winners</h2>
                    <center>
                        <div class="cnt_icon_num">
                            <i class="icon-traders-online"></i>
                            <div class="value">800+</div>
                            <p>Traders<br>Online</p>
                        </div>
                        <div class="cnt_icon_num">
                            <i class="icon-total-registred"></i>
                            <div class="value">15000000</div>
                            <p>Total<br>Registered </p>
                        </div>
                        
                   </center>
            </div>
            <img class="r_img" src="img/pc_main.png">
        </div>






    </div>
   
    <h2 class="_seg____header__">OUR INVESTMENT PLANS</h2>



        <center>
            
            <div class="_seg____header__">
            
 
            <div class="_seg____ b_none_">
                <center>
                    <img class="_seg___img"  src="img/2.png">
                    <h1 class="_seg____htxt_" style="text-align: center;">STARTER PLAN</h1>
                    <div>$50–$999 (7% After 24 Hours)</div>
                      <div>REFERRAL BONUS:10%</div>
                </center>
            </div>

            <div class="_seg____ b_none_">
                <center>
                    <img class="_seg___img"  src="img/3.png">
                    <h1 class="_seg____htxt_" style="text-align: center;">SILVER PLAN</h1>
                    <div>$1000–$9,999 (20% After 2 Days)</div>
                     <div>REFERRAL BONUS:10%</div>
                </center>
            </div>
            <div class="_seg____ b_none_">
                <center>
                    <img class="_seg___img"  src="img/4.png">
                    <h1 class="_seg____htxt_" style="text-align: center;">GOLD PLAN</h1>
                    <div>$10000–$99,999 (50% After 7 Days)</div>
                     <div>REFERRAL BONUS:10%</div>
                </center>
            </div>
            <div class="_seg____ b_none_">
                <center>
                    <img class="_seg___img"  src="img/5.png">
                    <h1 class="_seg____htxt_" style="text-align: center;">DIAMOND PLAN</h1>
                    <div>$100,000–UNLIMITED (100% After 10 Days)</div>
                     <div>REFERRAL BONUS:10%</div>
                </center>
            </div>
 <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
  
</div>
<!-- TradingView Widget END -->
        </center>



    <h2 class="_seg____header__">WHY CHOOSE US?</h2>

    <div class="_in_content_">

        <center>
            
            <div class="_seg____ b_none_">
                <center>
                    
                    <h1 class="_seg____htxt_" style="text-align: center;"> WE SAVE YOUR TIME </h1>
                    <div>You don’t need to spend hours in front of the charts and news channel everyday. We do that for you while you can spend that time elsewhere. You can have our service and make money while you are on a job or spending time with your family, or can follow a passion and find a new dream. In the meantime, ACHMEAINVEST will keep making you productive!!
</div>
                </center>
            </div>

            <div class="_seg____ b_none_">
                <center>
                    <h1 class="_seg____htxt_" style="text-align: center;">WE SAVE YOUR MONEY</h1>
                    <div>Making money consistently in the Forex market takes years of experience which includes losing a lot of money in the process. We trade our expertise to save you from the losses and make you money from the beginning.<br>
                    No need to spend time studying the charts, graphs, and patterns to identify an opportunity, We will do all that for you!
</div>
                </center>
            </div>

            <div class="_seg____ b_none_">
                <center>
                    <h1 class="_seg____htxt_" style="text-align: center;">WITHDRAW</h1>
                    <div>Our withdrawals are all processed instantly after they are requested. We provide multiple withdrawal methods</div>
                </center>
            </div>

        </center>

    </div>
    
   <center> <iframe width="400" height="360" src="https://www.youtube.com/embed/pWnN3WQ2m5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 class="_seg____header__" style="margin-top: 50px;">GET UPDATED WITH CRYPTOs</h2>
</center>
    <center>

        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "width": 400,
  "height": 490,
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
  
</div>
<!-- TradingView Widget END -->
    </center>

    <div style="background: url(img/slide_2.jpg); width: 100%; display: block; overflow: hidden; float: left; padding-bottom: 50px; margin: 40px auto; background-repeat: no-repeat; background-position: center; background-size: cover;" class="___flow___">

        <h2 class="_seg____header__" style="margin-top: 50px;">OUR AWARD PLATFORM</h2>

        <div class="_in_content_">

            <center>
            
                <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_13.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">Century International Quality Gold ERA Award</h1>
                        <div class="_txt___" style="font-size: 17px;">The prestigious award was given to bitpayxchange.com in recognition of our outstanding commitment to Quality and Excellence, particularly in the realm of Customer Satisfaction.</div>
                    </div>
                </div>
            
                <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_10.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
                        <div class="_txt___" style="font-size: 17px;">As Steve Jobs once said, innovation distinguishes between leaders and followers. Our innovative approach makes our product shine—and the evidence is in this beautiful accolade.</div>
                    </div>
                </div>
            
                <div class="_seg____ a_seg____ b_none_"  style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_5.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">Most Reliable Binary Options Broker</h1>
                        <div class="_txt___" style="font-size: 17px;">Our first priority is the security of our clients' funds. This was recognized by the experts at MasterForex-V, who awarded bitpayxchange.com the title of Most Trusted Binary Options Broker.</div>
                    </div>
                </div>
            
                <div class="_seg____ a_seg____ b_none_" style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_14.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">The intelligent trading app for binary options</h1>
                        <div class="_txt___" style="font-size: 17px;">The Mobile Star Awards is the largest annual mobile innovations and software awards program in the world. In 2016, the organization honored the bitpayxchange.com trading app as the best in its category, praising its efficiency and impeccable design.</div>
                    </div>
                </div>
            
                <div class="_seg____ a_seg____ b_none_" style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_6.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">World's Leading Binary Options Broker</h1>
                        <div class="_txt___" style="font-size: 17px;">At the same MasterForex-V bitpayxchange.com was awarded for being the World's Leading Binary Options Broker. The perfection in our service and product was recognized by the experts of the conference in 2016.</div>
                    </div>
                </div>
            
                <div class="_seg____ a_seg____ b_none_" style="float: left;">
                    <img class="_seg___img a_simg_" src="img/award_8.png">
                    <div class="_side___ _b_side___">
                        <h1 class="_seg____htxt_" style="color: #FFF;">Fastest growing binary option brand</h1>
                        <div class="_txt___" style="font-size: 17px;">Global Brands Magazine, Britain’s reputable brand observer, awarded bitpayxchange.com along with a number of outstanding European brands — an achievement worth working for.</div>
                    </div>
                </div>

            </center>

        </div>
        
    </div>

    <h2 class="_seg____header__" style="margin-top: 50px;">OUR PLATFORM ADVANTAGES</h2>

    <div class="_in_content_">

        <center>
            
            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/payment.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Payment Options</h1>
                    <div class="_txt___">We provide various withdrawal methods.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/security.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Strong Security</h1>
                    <div class="_txt___">With advanced security systems, we keep your account always protected.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/world.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">World Coverage</h1>
                    <div class="_txt___">Our platform is used by bitcoin investors worldwide.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/team.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Experienced Team</h1>
                    <div class="_txt___">Our experienced team helps us build the best product and deliver first class service to our clients.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/report.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Advanced Reporting</h1>
                    <div class="_txt___">We provide reports for all investments done using our platform.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/platform.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Cross-Platform Trading</h1>
                    <div class="_txt___">Our platform can be accessed from various devices such as Phones, Tablets & Pc.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/support.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Expert Suport</h1>
                    <div class="_txt___">Our 24/7 support allows us to keep in touch with customers in all time zones and regions.</div>
                </div>
            </div>

            <div class="_seg____ b_none_">
                <img class="_seg___img _simg_" src="img/exchange.png">
                <div class="_side___">
                    <h1 class="_seg____htxt_">Instant Exchange</h1>
                    <div class="_txt___">Change your world today and make yourself a great tomorrow, invest with the little money you have and make a great profit at the end.</div>
                </div>
            </div>

        </center>

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
         
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
          {
          "symbols": [
            {
              "title": "S&P 500",
              "proName": "OANDA:SPX500USD"
            },
            {
              "title": "Nasdaq 100",
              "proName": "OANDA:NAS100USD"
            },
            {
              "title": "EUR/USD",
              "proName": "FX_IDC:EURUSD"
            },
            {
              "title": "BTC/USD",
              "proName": "BITSTAMP:BTCUSD"
            },
            {
              "title": "ETH/USD",
              "proName": "BITSTAMP:ETHUSD"
            }
          ],
          "colorTheme": "dark",
          "isTransparent": true,
          "locale": "en"
        }
          </script>
          
        </div>
        <!-- TradingView Widget END -->
    </div>

   <!-- <h2 class="_seg____header__" style="margin-top: 50px;">WHAT INVESTORS SAY</h2>

    <div class="_in_content_">
        
        <style type="text/css">
            body {
                font-family: "Open Sans", sans-serif;
            }
            .carousel {
                width: 100%;
                margin: 0 auto;
                padding-bottom: 50px;
            }
            .carousel .item {
                color: #999;
                font-size: 14px;
                text-align: center;
                overflow: hidden;
                min-height: 340px;
            }
            .carousel .item a {
                color: #eb7245;
            }
            .carousel .img-box {
                width: 145px;
                height: 145px;
                margin: 0 auto;
                border-radius: 50%;
            }
            .carousel .img-box img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
            }
            .carousel .testimonial {    
                padding: 30px 0 10px;
                color: #FFF !important;
            }
            .carousel .overview {   
                text-align: center;
                padding-bottom: 5px;
            }
            .carousel .overview b {
                color: #FFF;
                font-size: 15px;
                text-transform: uppercase;
                display: block; 
                padding-bottom: 5px;
            }
            .carousel .star-rating i {
                font-size: 18px;
                color: #ffdc12;
            }
            .carousel .carousel-control {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #999;
                text-shadow: none;
                top: 4px;
            }
            .carousel-control i {
                font-size: 20px;
                margin-right: 2px;
            }
            .carousel-control.left {
                left: auto;
                right: 40px;
            }
            .carousel-control.right i {
                margin-right: -2px;
            }
            .carousel .carousel-indicators {
                bottom: 15px;
            }
            .carousel-indicators li, .carousel-indicators li.active {
                width: 11px;
                height: 11px;
                margin: 1px 5px;
                border-radius: 50%;
            }
            .carousel-indicators li {   
                background: #e2e2e2;
                border-color: transparent;
            }
            .carousel-indicators li.active {
                border: none;
                background: #888;       
            }
        </style>
        
        <div id="myCarousel" style="overflow: hidden;" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators --
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items --
            <div class="carousel-inner">        
                <div class="item carousel-item active">
                    <div class="img-box"><img src="images/clients/2.jpg" alt=""></div>
                    <p class="testimonial">It has been an amazing journey to success since I started investing with bitpayxchange.com.</p>
                    <p class="overview"><b>RICHARD NOAH</b><a href="#">Germany.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/1.jpg" alt=""></div>
                    <p class="testimonial">I owe this company every appreciation for all their incredible service performances.
Thanks! bitpayxchange.com..</p>
                    <p class="overview"><b>HENRY OSCAR</b>  <a href="#">Mexico.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/3.jpg" alt=""></div>
                    <p class="testimonial">l have never seen a platform that pays really good like ACHMEAINVEST. this is amazing. l thank every moderator here for helping me most especially to my account manager.</p>
                    <p class="overview"><b>Antonio Moreno</b><a href="#">Spain.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/4.jpeg" alt=""></div>
                    <p class="testimonial">This  is a great system to behold. Thanks for making people believe once again in investments.</p>
                    <p class="overview"><b>COLLINS COLEMAN</b> <a href="#">London.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/5.jpeg" alt=""></div>
                    <p class="testimonial">It's really exciting earning in a platform where you don't stress yourself when it comes to withdrawals. My gratitudes to the Administrators of this exquisite platform.</p>
                    <p class="overview"><b>HANNAN RUBY</b> <a href="#">TOKYO.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/6.jpeg" alt=""></div>
                    <p class="testimonial">It's a good feeling when you're investing and getting paid instantly without any delay I appreciate the unalloyed services rendered by bitpayxchange.com administrators.</p>
                    <p class="overview"><b>SAM CLAY</b> <a href="#">SWEDEN.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/7.jpeg" alt=""></div>
                    <p class="testimonial">l have never seen a platform that pays really good like bitpayxchange.com. This is amazing! l thank every moderators here for helping me most especially to my account manager.</p>
                    <p class="overview"><b>ELIZA ELVIE</b> <a href="#">CANADA.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/8.jpeg" alt=""></div>
                    <p class="testimonial">I feel like the happiest, and luckiest person in the world. Since I got to know and invest in bitpayxchange.com.!</p>
                    <p class="overview"><b>BELLA BUSH</b> <a href="#">USA.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/9.jpeg" alt=""></div>
                    <p class="testimonial">Thanks to my account manager for making it possible for me to withdraw successfully! And a big thanks to the Administrators of bitpayxchange.com for such a wonderful platform!!</p>
                    <p class="overview"><b>MARY AMELIA</b> <a href="#">FRANCE.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/10.jpeg" alt=""></div>
                    <p class="testimonial">I'm really impressed with the way the payment system works. It's fast, automatic, and secured.
Big thanks to bitpayxchange.com Company!</p>
                    <p class="overview"><b>WALTER JOSEPH</b> <a href="#">London.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/clients/11.jpeg" alt=""></div>
                    <p class="testimonial">I'm really impressed with the way the payment system works. It's fast, automatic, and secured.
Big thanks to bitpayxchange.com Company!</p>
                    <p class="overview"><b>MARTHA SCARLETT</b> <a href="#">London.</a></p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!-- Carousel controls --
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>                                                                      
    </div>-->

    <div id="main-other">
	<div id="sub-other">

<div class="other-head">
            <div class="border">
            </div>
            <div class="other-headtext">
            	<center><h2>Latest Withdrawals</h2></center>
            </div>
            <div class="border">
            </div>
        </div>

<div class="all-boxex" >

<center>
    <iframe src="https://www.btcwidget.info/widget/liveTx/%23ffffff/%23ffffff/%23ffffff/%231f232e/%23ffffff/400/600/10" width="400" height="600" frameBorder="0" scrolling="no"></iframe>
</center>

</div>

</div>
</div>

    <div style="margin-top: 50px; background: #2f3241; padding-bottom: 20px;">
        
        <div class="_in_content_">

            <h2 class="_seg____header__">SECURED PAYMENT METHOD</h2>

            <center>
                
                <img class="_im_py" src="img/cl-logo1.png">
                <img class="_im_py" src="img/cl-logo2.png">
                <img class="_im_py" src="img/cl-logo3.png">
                <img class="_im_py" src="img/cl-logo6.png">

            </center>

        </div>

    </div>

    <div style="background: url(img/footer-bg.png); width: 100%; display: block; overflow: hidden; float: left; margin: 0px auto 0px auto;" class="___flow___">

        <div class="_in_content_" style="margin-top: 30px; margin-bottom: 30px;">

            <div class="foot_side___">
                <h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
                <div class="_txt___" style="font-size: inherit; color: grey;">bitpayxchange.com is a true opportunity to earn on cryptocurrency/binary. bitpayxchange.com is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.</div>
            </div>

            <div class="foot_side___">
                <h1 class="_seg____htxt_" style="color: #FFF;">Quick Links</h1>
                <a class="_txt___ _fLink" href="?a=home" style="font-size: inherit; color: #ff7913;">Home</a>
                                <a class="_txt___ _fLink" href="login" style="font-size: inherit; color: #ff7913;">Login</a>
                <a class="_txt___ _fLink" href="register" style="font-size: inherit; color: #ff7913;">Register</a>
                              <!--  <a class="_txt___ _fLink" href="?a=rules" target="_blank" style="font-size: inherit; color: #ff7913;">Terms & Conditions</a>-->
            </div>

            <div class="foot_side___">
                <h1 class="_seg____htxt_" style="color: #FFF;">About Us</h1>
                <div class="_txt___" style="font-size: inherit; color: grey;">bitpayxchange.com is one of the leading platforms in the India offering binary options, Forex and spreads. Regulated by the FSB and CHGA based in India. It's incorporated in India.<br> <!--<a href="https://opencorpdata.com/lei/724500ZL4PEM4Q5XCL78"><font style="color:white"><b>COMPANY DETAILS</b></font></a>--> </div>
            </div>
            
            <!--<div class="foot_side___">
                <h1 class="_seg____htxt_" style="color: #FFF;">Contact Us</h1>
                <h3 class="_txt___">Address: <span style="font-size: inherit; color: #ff7913;">Handelsweg 2, Zeist, 3707NH, NL
 </span></h3><br>-->
                <!--<h3 class="_txt___ _cLink">LEGAL FORM CODE <span style="font-size: inherit; color: #ff7913; text-transform: lowercase;"> 54M6</span></h3><br>-->
                <p class="_txt___ _cLink">Email: <a href="mailto::support@bitpayxchange.com" style="font-size: inherit; color: #ff7913; text-transform: lowercase;">support@bitpayxchange.com</a></p>
                                
            </div>
        </div>

    </div>

    <div style="background: #232733; width: 100%; display: block; overflow: hidden; float: left; padding: 20px; margin: 0px; background-position: center;">

        <div class="_in_content_">

            <center>
                <span style="margin-bottom: 20px; font-size: 13px; width: 100%; display: block; max-width: 500px; color: grey;">
                    You are granted limited non-exclusive non-transferable rights to use the IP provided on this website for personal and non-commercial purposes in relation to the services offered on the Website only.
                </span>
                <span style="color: #FFF;">bitpayxchange.com, &copy; 2022</span>
            </center>

        </div>

    </div>


    <!-- scripts -->
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/jquery.fake-notification.min.js"></script>
    <!-- stats.js -->
    <!-- <script src="js/lib/stats.js"></script> -->
    
    <script>
      var count_particles, stats, update;
      stats = new Stats;
      stats.setMode(0);
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.left = '0px';
      stats.domElement.style.top = '0px';
      document.body.appendChild(stats.domElement);
      count_particles = document.querySelector('.js-count-particles');
      update = function() {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
          count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
      };
      requestAnimationFrame(update);
    </script>
    <script>
        $(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [1500,20500,1555,1666,1444,7333,4633],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'http://bitpayxchange.com/', '_blank']
                
            });         
        });                 
    </script>
    
    <script type="text/javascript" src="js/j.js"></script>
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
</body>


</html>